.active{
  color: red;
}

.not-active{
  color: rgb(70, 70, 70);
  
}
#links{
  font-size: 1.2rem;
  text-decoration: none;
  margin-right: 2rem;
  background-color: transparent;
  margin-bottom: 4rem;
}